extends base.pug 

block content 
    .container-fluid.mt-4
        .row    
            .col-2 
               include side.pug
            .col-10
                .row.mt-5 
                    .col-8 
                        h3=mail.subject
                    .col-4 
                        if mail.status == -1
                            a.btn.btn-success.btn-sm(href=`/undo-from-trash/${mail._id}`) Undo
                            a.btn.btn-danger.btn-sm.ms-2(href=`/delete-from-trash/${mail._id}`) Delete
                        else if mail.status == 0
                            a.btn.btn-success.btn-sm.mx-2(href=`/send-from-draft/${mail._id}`) Send Mail
                            a.btn.btn-danger.btn-sm(href=`/move-to-trash/${mail._id}`) Move to trash
                        else 
                            a.btn.btn-danger.btn-sm(href=`/move-to-trash/${mail._id}`) Move to trash
                        
                h6 to: #{mail.recieverId.fname}
                h6 From : #{mail.senderId.fname}
                small.text-muted=moment(mail.date).fromNow()
                p.lead=mail.content
                .mt-2 
                    if mail.attachment != "false"
                        .row 
                            .col-5 
                                .card.shadow
                                    .card-body 
                                        img(src=`/${mail.attachment}`, alt="").w-100
                                        p.small.mb-0=mail.attachment
                                        a(href=`/${mail.attachment}`,target="_blank").small.m-2.text-decoration-none View 
                                        a(href=`/${mail.attachment}`,download).small.m-2.text-decoration-none Download

                
                